
h2{
    color: yellow;
    
}
h1{
    background-color: aliceblue;
    border: solid;
    border-color: rgb(0, 0, 0);
}
table{

    border: solid;
 
  
    border-color: rgb(5, 6, 6);
}
button{

    border: solid;
    border-color: black;
}

